body{
    padding: 0;
    margin: 0;
    
}
.parent-container{
    width: 100%;
    height: 100vh;
   
justify-content: center;

    background-image: linear-gradient(to bottom right ,rgb(51, 182, 177),rgb(41, 219, 204),
     rgb(61, 178, 233),rgb(141, 97, 194));
    
    
}

.logo{
    text-align: center;
}


.circle{
    width: 150px;
    height: 150px;
    border: 2px solid burlywood;
    border-radius: 50%;
    background-image: url(./images.jpg);
    background-position:center;
    animation: anime 2s infinite ease-in-out alternate;
    position: relative;
    
    
    
}
@keyframes anime {
    100%{
        transform: translateY(20px);
    }
    
}
@media screen and (min-width:340px) {
    .parent-container{
        width: 100%;
        height: 100vh;
        
    
        background-image: linear-gradient(to bottom right ,rgb(51, 182, 177),rgb(41, 219, 204),
     rgb(61, 178, 233),rgb(141, 97, 194));
        
         
        
}
h1, h5, p{
    text-align: center;
}
}

.fa-brands{
    width: 15px;
    height: 10px;
    margin: 5px;
   
}
.fa-brands:hover{
    transform: translateY(2px);
    
}



button{
    width: 150px;
    height: 40px;
    background-color: rgb(15, 13, 77);
    border-radius: 5px;
    color: white;
    font-size: large;
    position: relative;
    
    
}
.fa-solid{
    float: right;
    
    color: olivedrab;
}

h1, h5, p{
    text-align: center;
}
